* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: ##FFFFFF;
    padding-top: 16px
}

.font-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.logo {
    /* margin: 16px 120px;
    max-width: 140px; */
}

.btn-1 {
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;

}

.btn-2 {
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    display: inline-flex;
    box-sizing: border-box;
}

.btn-3 {
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    gap: 10px;

}

.btn-1:hover:hover {
    background-color: rgb(226, 123, 123);
}

.btn-2:hover {
    background-color: rgb(226, 123, 123);
}

.btn-3:hover {
    background-color: rgb(226, 123, 123);
}


nav {
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    flex-direction: row;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

#banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px;
    gap: 40px;
    margin: 0 auto;
    color: white;
}

ul {
    list-style: url(./assets/CheckCircle.png);
}

.banner-offer {
    width: 229px;
    height: 35px;
    display: inline;
    padding: 8px 12px;
    width: 183px;
    height: 19px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500px;
    font-style: bold;
    background-color: #FFFFFF;
    color: #469165;
    line-height: 19px;
    text-align: center;
}

.banner-h1 {
    font-style: bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: centre;
    margin-bottom: 16px;
}

.banner-h2 {
    font-style: bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 16px;
}

.banner-span {
    color: #469165;
}



.banner-text {
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 240x;
    text-align: center;
    margin-bottom: 32px;
}

#brain {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    width: 1600;
    height: 840px;
}

.brain-image {
    margin-left: 120px;
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.text-description {
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.brain-text {
    margin-top: 102px;
    margin-bottom: 270px;
}

.tick-list {
    margin-left: 26px;
}

.brain-text .text-description {
    width: 700px;
    height: 60px;
}

.description {
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
    margin-bottom: 16px;
}

#notes {
    /* width: 1360px;
    height: 116px; */
    padding: 120px;
    max-width: 1360px;
    margin: 0 auto;
}

.notes-container {
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    color: #001931;
    text-align: center;
}

.text {
    font-size: 16px;
    font-weight: 20px;
    line-height: 20px;
    text-align: center;
    padding: 16px 120px 44px;
}

.notes-box {

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    padding: 24px;
}

.notes-card img {
    width: 60px;
    height: 60px;

    margin-bottom: 16px;
    /* border: 1px solid black; */
}

.notes-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#notes .notes-box .notes-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #d28b8b44;
}

#early-access {
    width: 1600px;
    height: 506px;
    background-color: rgba(247, 246, 242, 1);
    margin: 0 auto;
}

.access {
    padding: 120px;

}

.early-container {
    width: 1280px;
    height: 112px;
}

h4 {
    width: 1280px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;

}

.early-container2 {
    width: 1280px;
    height: 112px;
}

.early-desctiption {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.early-container2,
.btn-4 {
    margin: 0 auto;
    width: 194px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 16px;
}

.btn-4:hover {
    background-color: rgb(226, 123, 123);
}

#footer {
    width: 1600px;
    height: 348px;
    /* background-color: rgba(0, 25, 49, 1); */
}

.footer-logo {
    width: 139px;
    height: 60px;
}

.social-icon {
    width: 220px;
    height: 64px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.social-icon a {
    color: rgba(255, 255, 255, 1);
}

.social-icon p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

#footer {
    width: 1600px;
    height: 348px;
    background-color: rgba(0, 25, 49, 1);
}

.footer-container {
    width: 1360px;
    height: 64px;
    padding: 120px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.footer-rights {
    width: 1360px;
    height: 24px;
}

hr {
    color: rgba(250, 250, 250, 1);
    margin-bottom: 10px;
}

.footer-rights p {
    text-align: center;
    color: rgba(250, 250, 250, 1);
    /* font-size: 16px;
    font-weight: 400; */
    /* line-height: 24px; */
}